body,
html {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-height: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    height: 100%;
}
body {
    margin: 0;
}
.login-content {
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.login-content .login-intro {
    padding: 128px;
    margin-bottom: auto;
}
.login-content .box {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
        0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    margin-left: auto;
}
.login-content .box .box-container {
    width: 100%;
    /* flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.login-content .box .logo {
    width: 64px;
    height: 64px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.login-content .box .application-name {
    font-family: Muli;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: -0.1px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.login-content .box .form {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-content .box .login-field {
    width: 80%;
    height: 30px;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #000000;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: #fff;
    margin: 12px auto;
    box-shadow: none;
}
.login-content .box input[type="text"]:focus,
.login-content .box input[type="email"]:focus,
.login-content .box input[type="password"]:focus {
    border-bottom: 2px solid #039be5;
}
.login-content .box input[type="text"]:-webkit-autofill,
.login-content .box input[type="email"]:-webkit-autofill,
.login-content .box input[type="password"]:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

.login-content .box input[type="email"]:invalid {
    border-bottom: 2px solid #f44336;
}

.login-content .box .submit {
    cursor: pointer;
    width: 70%;
    height: 36px;
    border-radius: 2px;
    background-color: #039be5;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-style: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.login-content .box .visibility {
    position: absolute;
    right: 11%;
    top: 70px;
    display: inline-block;
    width: 24px;
    height: 24px;
    opacity: 0.54;
    border: none;
}
.login-content .box .copyright {
    min-width: 320px;
    text-align: center;
    font-size: 14px;
    opacity: 0.54;
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.login-content .box .alert {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.login-content .box .form-footer {
    margin-top: 20px;
    width: 80%;
    font-family: Muli;
    font-size: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.login-content .box .form-footer a:hover,
.login-content .box .form-footer a:visited,
.login-content .box .form-footer a {
    color: #039be5;
}

.message-text {
    width: 322px;
    height: 22px;
    opacity: 0.87;
    font-family: Muli;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: -0.4px;
    color: #f44336;
    border: 0px;
    /* position: relative;
    top: 180px;
    left: 64px; */
    /* display: inline-flex;
    align-items: center; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.identity-providers {
    width: 270px;
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.83;
    letter-spacing: -0.4px;
    text-align: left;
    color: #0055b8;
    margin-left: 32px;
    margin-top: 20px;
}

.login-content .box .social-link-style {
    width: 320px;
    height: 36px;
    border-radius: 2px;
    background-color: var(--white);
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00754a;
    border-style: solid;
    border-color: #00754a;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.login-content .box .para {
    font-family: Muli;
    font-size: 14px;
    margin-left: 30px;
}

.logo {
    width: 128px;
    margin-bottom: 32px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16px;
    font-size: 1.2rem;
    max-width: 600px;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .login-content .box {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .login-content .login-intro {
        display: none;
    }
    .login-content .box {
        height: 100vh;
        width: 100%;
    }
}
